<div class="page-content">
    <div class="form-v10-content">
    <%= render 'shared/messages'%>
        <%= form_with model: @user, class: "form-detail rounded", id: "myform", local: true do |f| %>
            <div class="form-left">
                <h2>General Infomation</h2>
                <div class="form-row " >
                    <%= f.text_field :username, :value => Current.user.username, disabled: :true, class: "form-text text-muted" %>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <%= f.text_field :first_name, :value => Current.user.first_name, disabled: :true, class: "form-text text-muted" %>
                    </div>
                    <div class="form-row form-row-2">
                        <%= f.text_field :last_name, :value => Current.user.last_name, disabled: :true, class: "form-text text-muted" %>
                    </div>
                </div>
                <div class="form-row">
                    <%= f.text_field :age, :value => Current.user.age, disabled: :true, class: "form-text text-muted" %>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-3">
                        <%= f.text_field :blood_group, :value => Current.user.blood_group, disabled: :true, class: "form-text text-muted" %>
                    </div>
                    <div class="form-row form-row-4">
                        <%= f.text_field :gender, :value => Current.user.gender, disabled: :true, class: "form-text text-muted" %>
                    </div>
                </div>
                <hr>
                <div class="text-lefts rounded">
                    <a class="register_2 text-rights rounded text-center text-color <%= request.path == '/' ? 'active' : '' %>" href="/">Home</a>
                </div>
                 <div class="rounded text-rights">
                    <%= link_to "Update User", edit_user_path,class: "register text-lefts rounded text-center text-color" %>
                </div>
            </div>
            <div class="form-right">
                <h2>Contact Details</h2>
                <div class="form-row">
                    <%= f.text_field :street, :value => Current.user.street, disabled: :true, class: "form-text text-muted" %>
                </div>
                <div class="form-row">
                    <%= f.text_field :additional_info, :value => Current.user.additional_info, disabled: :true,class: "form-text text-muted" %>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                       <%= f.text_field :pin_code, :value => Current.user.pin_code, disabled: :true, class: "form-text text-muted" %>
                    </div>
                    <div class="form-row form-row-2">
                       <%= f.text_field :city, :value => Current.user.city, disabled: :true, class: "form-text text-muted" %>
                    </div>
                </div>
                <div class="form-row">
                     <%= f.text_field :country, :value => Current.user.country, disabled: :true, class: "form-text text-muted" %>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <%= f.text_field :username, :value => Current.user.username, disabled: :true, class: "form-text text-muted" %>
                    </div>
                    <div class="form-row form-row-2">
                       <%= f.text_field :phone_no, :value => Current.user.phone_no, disabled: :true,class: "form-text text-muted" %>
                    </div>
                </div>
                <div class="form-row">
                    <%= f.email_field :email, :value => Current.user.email, disabled: :true, class: "form-text text-muted" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="page-content">
    <div class="form-v10-content">
        <%= form_with model: @userdonation, class: "form-detail rounded", id: "myform", local: true do |f| %>
            <div class="form-left">
                <h2>Donate Blood</h2>
                <div class="form-row">
                    <%= f.select :username, [Current.user.username], class: "form-text text-secondary" %>
                </div>
                <div class="form-row">
                    <%= f.select :blood_group, [Current.user.blood_group], class: "form-text text-secondary" %>
                </div>
                <div class="form-row">
                    <%= f.select :donated, ["500"], class: "form-text text-secondary" %>
                    <%= f.hidden_field  :received, :value => 0, type: :hidden,class: "form-text text-secondary" %>
                </div>
                <div class="form-row">
                    <%= f.select :camp ,["Graphic Era University ( Hill )","Graphic Era University ( Deemed )"],{prompt: "Select a camp"},{class: "form-text"} %>
                </div>
                <div class="rounded register rights donated text-right">
                    <%= f.submit "Donate",class: "register text-color" %>
                </div>
            </div>
            <br>
            <div class="form-right">
                <h2>Key Notes</h2><br><br>
                <div class="form-row">Healthy adults (18-75 years) who meet donation eligibility criteria can donate blood. The procedure is safe and relatively painless.
                   <ul>
                        <li>During a regular donation, you will give around 470ml of whole blood. This is about 8% of the average adult's blood volume.</li>
                        <li>The body replaces this volume within 24 to 48 hours, and replenishes red blood cells in 10 to 12 weeks.</li>
                    </ul>
                </div>
                <br><br><br><br>
            </div>
        <% end %>
    </div> 
</div>
<div class="page-content">
    <div class="form-v10-content">
        <%= form_with model: @userdonation, class: "form-detail rounded", id: "myform", local: true do |f| %>
            <div class="form-left">
                <h2>Receive Blood</h2>
                 <div class="form-row">
                    <%= f.select :username, [Current.user.username], class: "form-text text-secondary" %>
                </div>
                    <% if Current.user.blood_group == 'A+' %>
                        <div class="form-row">
                            <%= f.select :blood_group, ["A+","A+","O+","O-"],{prompt: "Select Blood Group"}, class: "form-text " %>
                        </div>
                    <% end %>
                     <% if Current.user.blood_group == 'A-' %>
                        <div class="form-row">
                            <%= f.select :blood_group, ["A-","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                        </div>
                    <% end %>
                     <% if Current.user.blood_group == 'B+' %>
                        <div class="form-row">
                            <%= f.select :blood_group, ["B+","B-","O+","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                        </div>
                    <% end %>
                     <% if Current.user.blood_group == 'B-' %>
                        <div class="form-row">
                            <%= f.select :blood_group, ["B+","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                        </div>
                    <% end %>
                     <% if Current.user.blood_group == 'AB+' %>
                        <div class="form-row">
                            <%= f.select :blood_group, ["A+","A-","B+","B-","AB+","AB-","O+","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                        </div>
                    <% end %>
                     <% if Current.user.blood_group == 'AB-' %>
                        <div class="form-row">
                            <%= f.select :blood_group, ["AB-","A-","B-","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                        </div>
                    <% end %>
                     <% if Current.user.blood_group == 'O+' %>
                        <div class="form-row">
                            <%= f.select :blood_group, ["O+","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                        </div>
                    <% end %>
                     <% if Current.user.blood_group == 'O-' %>
                        <div class="form-row">
                            <%= f.select :blood_group, ["O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                        </div>
                    <% end %>
                <div class="form-row">
                    <%= f.select :received, ["400"], class: "form-text text-secondary" %>
                    <%= f.hidden_field  :donated, :value => 0, type: :hidden,class: "form-text text-secondary" %>
                </div>
                <div class="form-row">
                    <%= f.select :camp ,["Graphic Era University ( Hill )","Graphic Era University ( Deemed )"],{prompt: "Select a camp"},{class: "form-text"} %>
                </div>
                <div class="rounded register rights donated text-right">
                    <%= f.submit "Receive",class: "register text-color" %>
                </div>
            </div>
            <br>
            <div class="form-right">
                <h2>Key Notes</h2><br><br>
                <div class="form-row">Healthy adults (18-75 years) who meet donation eligibility criteria can donate blood. The procedure is safe and relatively painless.
                   <ul>
                        <li>During a regular donation, you will give around 470ml of whole blood. This is about 8% of the average adult's blood volume.</li>
                        <li>The body replaces this volume within 24 to 48 hours, and replenishes red blood cells in 10 to 12 weeks.</li>
                    </ul>
                </div>
                <br><br><br><br>
            </div>
        <% end %>
    </div>
</div>
<br><br>
<%sql="select donated from userdonations WHERE blood_group ='A+'"%>
<%= ActiveRecord::Base.connection.execute(sql) %>