<% if Current.user.username  == "kartik" %>
    <h1>HUrray!!,It worked</h1>
<% else %>
<%= Current.user.username %>
<%= Current.user.first_name %>
<%= Current.user.last_name %>
<%= Current.user.blood_group %>
<%= Current.user.age %>
<%= Current.user.email %>
<% end %>