<div class="container"> 
    <%= render 'shared/errors', obj: @user %>
</div>
<div class="page-content mt-4 text-center">
    <div class="form-v10-content">
        <%= form_with model: @user, class: "form-detail rounded", id: "myform", local: true do |f| %>
            <div class="form-left">
                <h2>General Infomation</h2>
                <div class="form-row " >
                    <%= f.text_field :username, placeholder:"Username", disabled: :true, class: "form-text text-muted" %>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <%= f.text_field :first_name, placeholder:"First Name",class: "form-text" %>
                    </div>
                    <div class="form-row form-row-2">
                        <%= f.text_field :last_name, placeholder:"Last Name",class: "form-text" %>
                    </div>
                </div>
                <div class="form-row">
                    <%= f.text_field :age, placeholder:"Age",class: "form-text" %>
                </div>
                <div class="form-row">
                     <%= f.password_field :password, class: "form-text", placeholder:"Password" %>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-3">
                        <%= f.text_field :blood_group, disabled: :true, class: "form-text text-muted" %>
                    </div>
                    <div class="form-row form-row-4">
                        <%= f.select :gender ,["Male","Female","Others"],{prompt: "Select Gender"},{class: "form-text"} %>
                    </div>
                </div>
                <hr>
                <div class="text-lefts rounded">
                    <%= link_to "Dashboard", dashboard_path(Current.user.id),class: "register_2 text-lefts rounded text-center text-color" %>
                </div>
                 <div class="rounded register rights text-right">
                    <%= f.submit "Update",class: "register text-color" %>
                </div>
                <br><br>
            </div>
            <div class="form-right">
                <h2>Contact Details</h2>
                <div class="form-row">
                     <%= f.select :country,["India"],{prompt: "Country"},{class: "form-text"} %>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <%= f.select :city ,["Dehradun"],{prompt: "City"},{class: "form-text"} %>
                    </div>
                    <div class="form-row form-row-2">
                        <%= f.select :pin_code ,["248001"],{prompt: "Pin Code"},{class: "form-text"} %>
                    </div>
                </div>
                <div class="form-row">
                    <%= f.text_field :street, placeholder:"Address",class: "form-text" %>
                </div>
                <div class="form-row">
                    <%= f.text_field :additional_info, placeholder:"Medical Information",class: "form-text" %>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                         <%= f.select :code ,["91 +"],{prompt: "Code +"},{class: "form-text"} %>
                    </div>
                    <div class="form-row form-row-2">
                       <%= f.text_field :phone_no, placeholder:"Phone Number",class: "form-text" %>
                    </div>
                </div>
                <div class="form-row">
                    <%= f.email_field :email, class: "form-text", placeholder:"Enter your email" %>
                </div>
            </div>
        <% end %>
    </div>
</div>