<div class="container" id="page-content">
    <div class="message-error-container">
        <%= render 'shared/messages'%>
        <%= render 'shared/errors', obj: @dashboard%>
    </div>
    <div class="row container d-flex justify-content-center">
        <div class="col-xl-8 col-md-8">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-4 bg-c-lite-green user-profile"><div class="jumbotron vertical-center bg-transparent">
                        <div class="card-block text-center text-white">
                            <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                            <h6 class="f-w-600">
                                <% if Current.user.admin == 1 %>
                                    <span class="badge badge-danger">ADMIN</span> <%= Current.user.username %>
                                <% else %>
                                    <%= Current.user.username %>
                                <% end %>
                            </h6>
                            <p><b>[ <%= Current.user.blood_group %> ]</b></p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                        </div></div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">General Information</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Age</p>
                                    <h6 class="text-muted f-w-400"><%= Current.user.age %></h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Gender</p>
                                    <h6 class="text-muted f-w-400"><%= Current.user.gender %></h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Full Name</p>
                                    <h6 class="text-muted f-w-400"><%= Current.user.first_name %><%= Current.user.last_name %></h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Phone</p>
                                    <h6 class="text-muted f-w-400"><%= Current.user.phone_no %></h6>
                                </div>
                            </div>
                            <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Contact Details</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Email</p>
                                    <h6 class="text-muted f-w-400"><%= Current.user.email %></h6>
                                </div>

                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Address</p>
                                    <h6 class="text-muted f-w-400"><%= Current.user.country %>, <%= Current.user.city %>, <%= Current.user.pin_code %>, <%= Current.user.street %></h6>
                                </div>
                            </div> 
                            <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Additional Details</h6>
                                <h6 class="text-muted f-w-400"><%= Current.user.additional_info %></h6>
                            </div>
                        </div>
                        <p class="text-white">user</p>
                        <form>
                            <div class="form-group row">
                            <div class="col-sm-6">
                                <a class="form-control btn btn-outline-danger home-btn <%= request.path == '/' ? 'active' : '' %>" href="/">Home</a>
                            </div>
                                <div class="col-sm-6">
                                    <%= link_to "Update", edit_user_path(Current.user.id),class: "form-control  update-btn btn btn-outline-success" %>
                                </div>
                            </div>
                        </form>
                         <% if Current.user.admin == 1 %>
                            <h3 class="m-b-20 p-b-5 b-b-default f-w-600 text-center text-danger bg-red">ADMIN PANEL</h3>
                            <%= form_with model: @dashboard, local: true do |f| %>
                                <%= f.hidden_field  :username,:value => 'admin', type: :hidden,class: "form-text" %>
                                <%= f.hidden_field  :approved, :value => 1, type: :hidden,class: "form-text text-secondary" %>
                                <%= f.hidden_field  :received, :value => 0, type: :hidden,class: "form-text text-secondary" %>
                                <%= f.hidden_field  :user_id, :value => Current.user.id, type: :hidden,class: "form-text text-secondary" %>
                                <div class="form-group row">
                                    <%= f.label :blood_group,class: "col-sm-2 col-form-label"%>
                                    <div class="col-sm-10">
                                        <%= f.select :blood_group, ["A+","A-","B+","B-","AB+","AB-","O+","O-"],{prompt: "Select Blood Group"}, class: "form-text form-control" %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <%= f.label :donated,class: "col-sm-2 col-form-label"%>
                                    <div class="col-sm-10">
                                        <%= f.text_field :donated, placeholder: "Enter blood amount", class: "form-text text-secondary form-control" %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <%= f.label :camp,class: "col-sm-2 col-form-label"%>
                                    <div class="col-sm-10">
                                        <%= f.select :camp ,["Graphic Era University ( Hill )","Graphic Era University ( Deemed )"],{prompt: "Select a camp"},{class: "form-control"} %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <%= f.submit "Donate",class: "form-control btn btn-outline-danger home-btn" %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% if Current.user.admin != 1 %>
    <div class="page-content">
        <div class="form-v10-content ">
        <%= form_with model: @dashboard, id: "myform", local: true do |f| %>
            <div class="form-detail rounded">    
                <div class="form-left ">
                    <h2>Donate Blood</h2>
                    <div class="form-row">
                        <%= f.select :username, [Current.user.username], class: "form-text text-secondary" %>
                    </div>
                    <div class="form-row">
                        <%= f.select :blood_group, [Current.user.blood_group], class: "form-text text-secondary" %>
                    </div>
                    <div class="form-row">
                        <%= f.select :donated, ["470 ml"], class: "form-text text-secondary" %>
                        <%= f.hidden_field  :received, :value => 0, type: :hidden,class: "form-text text-secondary" %>
                         <%= f.hidden_field  :approved, :value => 0, type: :hidden,class: "form-text text-secondary" %>
                         <%= f.text_field  :user_id, :value => Current.user.id, type: :hidden,class: "form-text text-secondary" %>
                    </div>
                    <div class="form-row">
                        <%= f.select :camp ,["Graphic Era University ( Hill )","Graphic Era University ( Deemed )"],{prompt: "Select a camp"},{class: "form-text"} %>
                    </div><br>
                    <div class="rounded register rights donated text-right">
                        <%= f.submit "Donate",class: "register text-color" %>
                    </div>
                </div>
        <% end %>
                <div class="form-right">
                    <h2>Receive Blood</h2>
                    <%= form_with model: @dashboard, id: "myform", local: true do |f| %>
                        <div class="form-row">
                            <%= f.select :username, [Current.user.username], class: "form-text text-secondary" %>
                        </div>
                        <% if Current.user.blood_group == 'A+' %>
                            <div class="form-row">
                                <%= f.select :blood_group, ["A+","A-","O+","O-"],{prompt: "Select Blood Group"}, class: "form-text " %>
                            </div>
                        <% end %>
                        <% if Current.user.blood_group == 'A-' %>
                            <div class="form-row">
                                <%= f.select :blood_group, ["A-","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                            </div>
                        <% end %>
                        <% if Current.user.blood_group == 'B+' %>
                            <div class="form-row">
                                <%= f.select :blood_group, ["B+","B-","O+","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                            </div>
                        <% end %>
                        <% if Current.user.blood_group == 'B-' %>
                            <div class="form-row">
                                <%= f.select :blood_group, ["B+","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                            </div>
                        <% end %>
                        <% if Current.user.blood_group == 'AB+' %>
                            <div class="form-row">
                                <%= f.select :blood_group, ["A+","A-","B+","B-","AB+","AB-","O+","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                            </div>
                        <% end %>
                        <% if Current.user.blood_group == 'AB-' %>
                            <div class="form-row">
                                <%= f.select :blood_group, ["AB-","A-","B-","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                            </div>
                        <% end %>
                        <% if Current.user.blood_group == 'O+' %>
                            <div class="form-row">
                                <%= f.select :blood_group, ["O+","O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                            </div>
                        <% end %>
                        <% if Current.user.blood_group == 'O-' %>
                            <div class="form-row">
                                <%= f.select :blood_group, ["O-"],{prompt: "Select Blood Group"}, class: "form-text" %>
                            </div>
                        <% end %>
                        <div class="form-row">
                            <%= f.text_field :received, :value => 0, placeholder: "Enter the required blood in ml", class: "form-text" %>
                            <%= f.hidden_field  :donated, :value => 0, type: :hidden,class: "form-text text-secondary" %>
                            <%= f.hidden_field  :approved, :value => 0, type: :hidden,class: "form-text text-secondary" %>
                            <%= f.hidden_field  :user_id, :value => Current.user.id, type: :hidden,class: "form-text text-secondary" %>
                        </div>
                        <div class="form-row">
                            <%= f.select :camp ,["Graphic Era University ( Hill )","Graphic Era University ( Deemed )"],{prompt: "Select a camp"},{class: "form-text"} %>
                        </div>
                        <div class="rounded register rights donated text-right mt-3">
                            <%= f.submit "Receive",class: "register text-color" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div> 
    </div>
    <div class="page-content">
        <div class="form-v10-content">
            <div class="form-detail rounded" id="myform">
                <div class="form-left">
                    <%= render 'dashboards/recipient_table' %>
                </div>
                <div class="form-right">
                    <h2>Key Notes</h2>
                    <div class="form-row">Healthy adults (18-75 years) who meet donation eligibility criteria can donate blood. The procedure is safe and relatively painless.
                        <ul>
                            <li>During a regular donation, you will give around 470ml of whole blood. This is about 8% of the average adult's blood volume.</li>
                            <li>The body replaces this volume within 24 to 48 hours, and replenishes red blood cells in 10 to 12 weeks.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
<section class="section skills rounded row center-row col-xs col-sm col-md col-lg">
    <div class="container form-v10-content ttr col-xs col-sm col-md col-lg">
        <div class=" col-xs col-sm col-md col-lg text-center">
            <div class="skills-area col-xs col-sm col-md col-lg">
                <div class="single-skill"><h2>A+</h2>
                    <div class="circlechart" data-percentage="<%= @A*100/@S %>" data-blood_quantity="<%= @A %>" ><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5"><%=@A%> ml</text><text class="circle-chart__subline" x="16.91549431" y="22">
                    </text> </g></svg></div>
                </div>
                <div class="single-skill"><h2>A-</h2>
                    <div class="circlechart" data-percentage="<%= @a*100/@S %>" data-blood_quantity="<%= @a %>" ><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5"><%=@a%> ml</text><text class="circle-chart__subline" x="16.91549431" y="22">
                    </text> </g></svg></div>
                </div>
                <div class="single-skill"><h2>B+</h2>
                    <div class="circlechart" data-percentage="<%=@B*100/@S  %>" data-blood_quantity="<%= @B %>"><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5"><%=@B%> ml</text><text class="circle-chart__subline" x="16.91549431" y="22">
                    </text> </g></svg></div>
                </div>
                <div class="single-skill"><h2>B-</h2>
                    <div class="circlechart" data-percentage="<%= @b*100/@S  %>" data-blood_quantity="<%= @b %>" ><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5"><%=@b%> ml</text><text class="circle-chart__subline" x="16.91549431" y="22">
                    </text> </g></svg></div>
                </div>
                <div class="single-skill"><h2>AB+</h2>
                    <div class="circlechart" data-percentage="<%= @AB*100/@S  %>" data-blood_quantity="<%= @AB %>"  ><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5"><%=@AB%> ml</text><text class="circle-chart__subline" x="16.91549431" y="22">
                    </text> </g></svg></div>
                </div>
                <div class="single-skill"><h2>AB-</h2>
                    <div class="circlechart" data-percentage="<%= @ab*100/@S  %>" data-blood_quantity="<%= @ab %>" ><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5"><%=@ab%> ml</text><text class="circle-chart__subline" x="16.91549431" y="22">
                    </text> </g></svg></div>
                </div>
                <div class="single-skill"><h2>O+</h2>
                    <div class="circlechart" data-percentage="<%= @O*100/@S %>" data-blood_quantity="<%= @O %>"><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5"><%=@O%> ml</text><text class="circle-chart__subline" x="16.91549431" y="22">
                    </text> </g></svg></div>
                </div>
                <div class="single-skill"><h2>O-</h2>
                    <div class="circlechart" data-percentage="<%= @o*100/@S %>" data-blood_quantity="<%= @o %>"><svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg"><circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle><circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle><g class="circle-chart__info">   <text class="circle-chart__percent" x="17.9" y="15.5"><%=@o%> ml</text><text class="circle-chart__subline" x="16.91549431" y="22">
                    </text> </g></svg></div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br>
<script>
    function makesvg(percentage,blood_quantity, inner_text=""){
        var abs_percentage = Math.abs(percentage).toString();
        var percentage_str = percentage.toString();
        var classes = ""
        if(blood_quantity < 2000){
            classes = "danger-stroke circle-chart__circle--negative";
        } else if(blood_quantity> 2000 && blood_quantity <= 4000){
            classes = "warning-stroke";
        } else{
            classes = "success-stroke";
        }
        var svg = '<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">'
            + '<circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9" />'
            + '<circle class="circle-chart__circle '+classes+'"'
            + 'stroke-dasharray="'+ abs_percentage+',100"    cx="16.9" cy="16.9" r="15.9" />'
            + '<g class="circle-chart__info">'
            + '   <text class="circle-chart__percent" x="17.9" y="15.5">'+percentage+'%</text>';

        if(inner_text){
            svg += '<text class="circle-chart__subline" x="16.91549431" y="22">'+inner_text+'</text>'
        }
        
        svg += ' </g></svg>';
        
        return svg
    }
    (function( $ ) {
        $.fn.circlechart = function() {
            this.each(function() {
                var percentage = $(this).data("percentage");
                var inner_text = $(this).text();
                var blood_quantity=$(this).data("blood_quantity");
                $(this).html(makesvg(percentage,blood_quantity,inner_text));
            });
            return this;
        };

    }( jQuery ));

    $(function () {
        $('.circlechart').circlechart();
    });
</script>