<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <%= image_tag("blooddonation.png", class: "navbar-logo header", alt: "BloodDonation Logo") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item px-1">
        <a class="btn rounded-0 navbar-home-text" href="/">Home</a>
      </li>

      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/plasama' ? 'active' : '' %>" href="/plasama">Plasama</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/why_give_blood' ? 'active' : '' %>" href="/why_give_blood">Why give blood</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/who_can_give_blood' ? 'active' : '' %>" href="/who_can_give_blood">Who can give blood</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/donation_process' ? 'active' : '' %>" href="/donation_process">Donation process</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/about' ? 'active' : '' %>" href="/about">About</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/login' ? 'active' : '' %>" href="/login">Login</a>
      </li>
      </ul>
    </div>
  </div>
</nav>