<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <%= image_tag("blooddonation.png", class: "navbar-logo header", alt: "BloodDonation Logo") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item px-1">
        <a class="btn rounded-0 navbar-home-text" href="/#home">Home</a>
      </li>

      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text  <%= request.path == '/plasma' ? 'active' : '' %>" href="/#home-plasma-section">Plasma</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/why_give_blood' ? 'active' : '' %>" href="/#home-why_give_blood-section">Why give blood</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/who_can_give_blood' ? 'active' : '' %>" href="/#home-who_can_give_blood-section">Who can give blood</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/donation_process' ? 'active' : '' %>" href="/#home-donation_process-section">Donation process</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/about' ? 'active' : '' %>" href="/#home-about-section ">About</a>
      </li>
      <% if Current.user%>
      <div class="navbar-nav nav-item dropdown">
        <li class="nav-item px-1">
          <a class="nav-link navbar-item navbar-text navbar-user-dropdown" id="navbar-dropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-label="user">
            <b class="text-danger">
              <% if Current.user.admin == 1%>
                <span class="badge badge-danger">ADMIN</span> <%= Current.user.username %>
              <% else %>
                <%= Current.user.username %>
            <% end %></b> <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-2">
            <%= link_to "Dashboard", dashboard_path(Current.user.id), class: "dropdown-item" %>
            <a class="dropdown-item" href="/dashboards">Logs</a>
            <div class="dropdown-divider"></div>
            <%= link_to "Logout", logout_path,class: "dropdown-item", method: :delete %>
            <div class="dropdown-divider"></div>
            <%= link_to "English", { locale: :en },class: "dropdown-item"%>
            <%= link_to "Hindi",{ locale: :hi },class: "dropdown-item" %>
          </div>
        </li>
      </div>
      <% else %>
        <li class="nav-item px-1">
          <a class="nav-link navbar-item navbar-text <%= request.path == '/login' ? 'active' : ''%>" href="/login">Login</a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>